html, body, #main {
  margin: 0px;
  padding: 0px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Sulphur Point', sans-serif;
  background-color: #101010;
  color: #f4f3ee;
}

#main {
  width: 98vw;
}

#banner, #footer {
  font-family: 'Yatra One', cursive;
  text-align: center;
  background-color: #101010;
  color: #f4f3ee;
}

#banner {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  margin-bottom: 10px;
  font-size: 32px;
  border-bottom: 4px solid #f4f3ee;

  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}

a {
  color: #f4f3ee;
}

.page:hover {
  color: #7587bf;
}

.page:link {
  text-decoration: none;
}

#active{
  color: #7587bf;
}

#albums {
  position: relative;
  top: 70px;
  text-align: center;
  letter-spacing: 1px;
  z-index: 0;
}

h1 {
  margin-top: 60px;
  margin-bottom: 80px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  margin-left: 180px;
  margin-right: 180px;

  /* display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: -200px; */
}

.ac {
  width: 100%;
  display: flex;

  /* box-sizing: border-box;
  object-fit: contain;
  width: 220px;
  height: 220px; */
}

.album {
  position: relative;
}

.grid a:hover .info {
  visibility: visible;
}

.info {
  visibility: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-size: 20px;
  letter-spacing: 1px;
  line-height: 28px;
  background-color: #f4f3ee;
  color: #101010;

  /* position: relative;
  bottom: 246.5px;
  box-sizing: border-box;
  width: 220px;
  height: 220px;
  visibility: hidden;
  opacity: 0; */
}

/* .album:hover .info {
  box-sizing: border-box;
  visibility: visible;
  opacity: 1;

  background: #f4f3ee;
  border: 4px solid #7587bf;
} */

#footer {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 4px solid #f4f3ee;

  position: fixed;
  bottom: 0px;
  width: 100%;
}
